<div class="row alerts">
    <div class="col-12">
        <div class="alert alert-info alert-dismissible fade show alert-helper" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          Нажмите стрелку на карточке, чтобы посмотреть подробную информацию о статье.
        </div>
    </div>
</div>
{% for item in data %}
<div class="row">
    <div class="col-12">
        <div class="card z-level-2 article-stats">
            <div class="card-block">
                <div class="block-header">
                    <h4 class="card-title">
                        Статья {{ item['official_article']['article_num'] }} "{{ item['official_article']['article'] }}" <i class="cons-link"><a href="{{item['official_article']['article_link']}}" target="_blank">(ссылка на КонсультантПлюс)</a></i>
                    </h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{ item['official_article']['law'] }} от {{ item['official_article']['date'] }} N{{item['official_article']['law_num']}}</h6>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-4"><b>Вопросов:</b> {{ item['questions_cnt'] }}</div>
                        <div class="col-lg-3 col-md-4 col-sm-4"><b>Ответов:</b> {{ item['sum_answers_cnt'] }}</div>
                        <div class="col-lg-5 col-md-5 col-sm-5"><b>Последнее:</b> {{ item['last_date'] }}</div>
                    </div>
                    <p align="center" style="margin-bottom: -16px;" class="toggle-info"><i class="fa fa-sort-desc" aria-hidden="true"></i></p>
                </div>
                <div class="card-text">
                    <hr/>
                    <div class="row">
                        <div class="col-lg-12">
                            <h5><a href="{{ url_for('statistics_page.art_questions', article_id=item['official_article']['article_ID']) }}" target="_blank">Посмотреть вопросы</a></h5>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-lg-12">
                            <h5>Динамика</h5>
                            <!-- "{{ url_for('static', filename='article_pics/' + item['official_article']['article_ID'] + '.png') }}" -->
                            <!-- "{{ url_for('static', filename='test.png') }}" -->
                            <img src="{{ url_for('static', filename='article_pics/' + item['official_article']['article_ID'] + '.png') }}" class="img-fluid mx-auto d-block" alt="Dynamics">
                            <p align="center"><i>Количество упоминаний по дням в 2017</i></p>
                        </div>
                    </div>
                    {% if len(item['parts_statistics']) %}
                    <hr/>
                    <div class="row">
                        <div class="col-lg-12">
                            <h5>Упоминания пунктов статьи</h5>
                            <ul>
                                {% for key, value in item['parts_statistics'].items() %}
                                <li><b>Пункт {{key}}</b>. Количество упоминаний: {{value}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}