{% extends "layout.html" %}
{% block head_custom %}
<link href="{{ url_for('static', filename='plugins/datepicker/css/bootstrap-datepicker.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='plugins/datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/datepicker/locales/bootstrap-datepicker.ru.min.js') }}"></script>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3 col-md-12 filters">
        <div class="filters-inner">
            <form id="rank_and_filters">
                <div class="form-group">
                    <div class="row">
                        <label for="rank_by" class="col-sm-4 col-form-label">Сортировка</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="rank_by" name="rank">
                                <option value="by_cnt_questions" {% if rank=='by_cnt_questions' %}selected{% endif %}>По количеству вопросов</option>
                                <option value="by_date" {% if rank=='by_date' %}selected{% endif %}>По дате</option>
                                <option value="by_sum_cnt_answers" {% if rank=='by_sum_cnt_answers' %}selected{% endif %}>По количеству ответов</option>
                            </select>
                            <select class="form-control" id="ascending" name="ascending">
                                <option value="1" {% if ascending==True %}selected{% endif %}>По возрастанию</option>
                                <option value="0" {% if ascending==False %}selected{% endif %}>По убыванию</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="filter_law" class="col-sm-4 col-form-label">Кодекс</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="filter_law" name="filter_law">
                                <option></option>
                                {% for codex in codex_list %}
                                <option {% if codex==codex_selected %}selected{% endif %}>{{codex}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <div class="row">
                        <label for="filter_numLaw" class="col-sm-11 col-form-label">Номер статьи</label>
                        <div class="col-sm-12">
                            <textarea class="form-control" id="filter_numLaw" rows="1"></textarea>
                        </div>
                    </div>
                </div> -->
                <div class="form-group">
                    <div class="row">
                        <label for="filter_not_in_guide" class="col-sm-8 col-form-label">Наличие в К+</label>
                        <div class="col-sm-12">
                            <select class="form-control" id="filter_notInGuide" name="filter_notInGuide">
                                <option value="1" {% if all_articles==True %}selected{% endif %}>Не важно</option>
                                <option value="0" {% if all_articles==False %}selected{% endif %}>Отсутствует в путеводителях</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group date" id="datepicker">
                        <input type="text" class="form-control" placeholder="Дата от" id="filter_date" name="filter_date">
                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                    </div>
                </div>
            </form>
            <input type="button" class="btn btn-secondary btn-block" value="Очистить фильтры" id="clear_filters" />
            <hr />
<!--             <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-11"><b>Найдено статей:</b> {{ cnt_articles }}</div>
            </div> -->
        </div>
    </div>
    <div class="col-lg-9" id="articles">
        {{ data | safe }}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        // reload select values (they reset when using Back button in browser)
        $("select").each(function () {
            $(this).val($(this).find('option[selected]').val());
        });
    });
    // handler: click event on article card header
    $(document).on('click', '.article-stats .card-block .block-header .toggle-info', function() {
        var stats_block = $(this).closest('.article-stats');
        var card_text = $(stats_block).find('.card-text');
        // if active then remove active
        if ($(stats_block).hasClass('active')) {
            $(stats_block).removeClass('active');
            $(this).html('<i class="fa fa-sort-desc" aria-hidden="true"></i>');
        } else { // if not active
            $(this).html('<i class="fa fa-sort-asc" aria-hidden="true"></i>');
            // Mark as active
            $(stats_block).addClass('active');
            // Animate to active article
            $('html, body').animate({
                scrollTop: $(stats_block).offset().top
            }, 500);
        }
        // Toggle full info about current article
        $(card_text).slideToggle(500);

    });
    $(document).on('click', '.cons-link', function(evt) {
        evt.stopPropagation();
    });
    $('#datepicker').datepicker({
        todayHighlight: true,
        language: "ru-RU"
    })
    .on('changeDate', function(e) {
        $(this).closest('form').trigger('submit');
    });;
    $(document).on('change', '#rank_by', function() {
        $(this).closest('form').trigger('submit');
    });
    $(document).on('change', '#ascending', function() {
        $(this).closest('form').trigger('submit');
    });
    $(document).on('change', '#filter_law', function() {
        $(this).closest('form').trigger('submit');
    });
    $(document).on('change', '#filter_notInGuide', function() {
        $(this).closest('form').trigger('submit');
    });
    // handler: filters and rank form submit
    $(document).on('submit', '#rank_and_filters', function(evt) {
        $(document).find('#articles').html(`<p align="center">Идет загрузка...</p>`);
        // Get form data
        var form_data = $(this).serializeArray();
        var rank = "by_cnt_questions";
        var ascending = "0";
        var filters = [];
        $.each(form_data, function(index, item){
            var key = item['name'];
            var value = item['value'];
            if(value.length == 0) {
                return true;
            }
            if(key.split('_')[0] == 'filter') {
                filters.push({
                    'filter_type': key.split('_')[1],
                    'filter_data': value
                });
            } else if(key == 'rank') {
                rank = value;
            } else if(key == 'ascending') {
                ascending = value;
            }
        });
        var req_data = {
            'rank': rank,
            'ascending': Boolean(parseInt(ascending)),
            'filters': filters
        };
        console.log(req_data);

        $.ajax({
            method: "POST",
            url: "{{ url_for('statistics_page.get_view') }}",
            data: JSON.stringify(req_data)
        })
        .done(function( data ) {
            $('#articles').html(data);
        })
        .fail(function() {
            console.error('Data request failed');
        });

        evt.preventDefault();
    });
    // handler: clear filters button
    $(document).on('click', '#clear_filters', function() {
        $('#filter_law').val($("#filter_law option:first").val());
        $('#filter_notInGuide').val($("#ffilter_notInGuide option:first").val());
        $('#filter_date').val("");
        $(this).closest('div').find('form').trigger('submit');
    });
</script>
{% endblock %}
