{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-3 col-md-12 filters">
        <div class="filters-inner affix">
            <form>
                <div class="form-group">
                    <div class="row">
                        <label for="filter_codex" class="col-sm-4 col-form-label">Кодекс</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="filter_codex">
                                <option>-</option>
                                <option>Гражданский кодекс</option>
                                <option>Административный кодекс</option>
                                <option>Градостроительный кодекс</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <label for="last_name" class="col-sm-4 col-form-label">Дата</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="last_name" name="last_name">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-9 articles">
        {% for item in data %}
        <div class="row">
            <div class="col-12">
                <div class="card z-level-2 article-stats">
                    <div class="card-block">
                        <div class="block-header">
                            <h4 class="card-title">
                                <a href="{{item.article_link}}" target="_blank">
                                    Статья {{ item['official_article']['article_num'] }} "{{ item['official_article']['article'] }}"
                                </a>
                            </h4>
                            <h6 class="card-subtitle mb-2 text-muted">{{ item['official_article']['law'] }} от {{ item['official_article']['date'] }} N{{item['official_article']['law_num']}}</h6>
                        </div>
                        <div class="card-text">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-4"><u>Вопросов:</u> {{ item['questions_cnt'] }}</div>
                                <div class="col-lg-3 col-md-4 col-sm-4"><u>Ответов:</u> {{ item['sum_answers_cnt'] }}</div>
                                <div class="col-lg-5 col-md-5 col-sm-5"><u>Последнее:</u> {{ item['last_date'] }}</div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5>Вопросы</h5>
                                    <ul class="question-list">
                                        {% for q in item['questions'] %}
                                        <li class="item-question">{{ q['question_full'] }} <i>[{{ q['date'] }}]</i></li>
                                        {% endfor %}
                                        <li class="toggle-questions">Смотреть все</li>
                                    </ul>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5>Динамика</h5>
                                    <div class="justify-content-md-center">
                                        <img src="{{ url_for('static', filename='graph.png') }}" class="img-fluid" alt="Dynamics">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.question-list').each(function(index) {
            var questions = $(this).find('.item-question');
            if(questions.length > 3) {
                $(this).find('.toggle-questions').show();
            }
            $(this).find('.item-question').slice(0, 3).show();
        });
    });
    $('.article-stats .card-block .block-header').bind('click', function() {
        var card_block = $(this).closest('.card-block');
        var card_text = $(card_block).find('.card-text');
        $(card_text).slideToggle(500);
    });
    $('.toggle-questions').bind('click', function() {
        var question_list = $(this).closest('.question-list');
        var value = $(this).text();
        if(value == 'Смотреть все') {
            $(question_list).find('.item-question').show();
            $(this).text('Свернуть');
        } else {
            $(question_list).find('.item-question').slice(3).hide();
            $(this).text('Смотреть все');
        }
        
    });
</script>
{% endblock %}
