{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-lg-8">
        <h3>О продукте</h3>
        <p style="text-align: justify;">
            <br/>
            <b>ForumAnalysis</b> создавался для того, чтобы проанализировать правовые потребности пользователей в сети Интернет и постараться их удовлетворить.<br/><br/>
            Данный веб-сайт представляет собой <b>систему мониторинга</b> информационных потребностей пользователей по конкретным юридическим вопросам, а также здесь вы найдете <b><a href="{{url_for('articles_page.get_view')}}">авторские материалы</a></b>, подготовленные на основе результатов анализа.<br/><br/>
            В разделе <b><a href="{{ url_for('statistics_page.get_view') }}">Статистика</a></b> вы найдете список самых популярных статей, обсуждаемых на правовых форумах. Список можно отранжировать по нескольким параметрам, а также применить фильтры.<br/><br/>
            По каждой статье можно посмотреть ее статистику, динамику упоминаний, популярные пункты данной статьи, а также есть возможность изучить сами вопросы и ответы к ним.
        </p>
    </div>
</div>
{% endblock %}
