{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-md-center">
    <div class="col-lg-8">
        <h3>О продукте</h3>
        <p style="text-align: justify;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat suscipit ornare. Nullam a erat vitae magna luctus bibendum sed eu sapien. Quisque consequat sem elit, ac luctus augue mollis ut. Donec tristique libero ornare, accumsan velit ut, consectetur tellus. Cras efficitur luctus eleifend. Curabitur ut egestas sem. Phasellus sit amet nibh fringilla, pretium turpis eget, porttitor velit. Quisque et sem rutrum, gravida nulla ac, pellentesque dolor.
            Vestibulum tincidunt sed arcu nec vehicula. Suspendisse aliquam metus id libero suscipit, vel commodo orci suscipit. Nullam in mattis quam. Morbi eu fringilla ante. Ut nec tincidunt neque, quis mattis nisi. Aenean sollicitudin magna sit amet consequat porta. Duis nisl purus, imperdiet eu lobortis in, interdum ac urna. Ut pretium tempus sem non aliquet. Vivamus eros purus, dapibus eu tempus quis, egestas ac metus. Aenean suscipit pharetra lectus.
        </p>
    </div>
</div>
{% endblock %}
